<% var title = "jThree Editor"; %>
<div class="editor-theme clearfix">
  <div class="editor-sidebar">
    <div class="jthree-icon">
      <a href="jthree.io">
        <img src="/images/jthree-logo-white.svg" alt="" width="50" height="50">
      </a>
    </div>
    <ul class="functional-buttons">
      <li class="functional-button"><img src="/images/camera.svg" width="30" height="30"></li>
      <li class="functional-button"><img src="/images/receipt.svg" width="30" height="30"></li>
      <li class="functional-button"><img src="/images/link.svg" width="30" height="30"></li>
    </ul>
  </div>
  <div class="editor-container clearfix">
    <div class="right-side">
      <div class="result">
        <div id="target"></div>
      </div>
      <div class="right-bottom-wrapper clearfix">
        <div class="xmml-editor-wrap">
          <div class="xmml-caption">xmml</div>
          <div id="xmml-editor" class="editors xmml-editor"></div>
        </div>
      </div>
    </div>
    <div class="left-side">
      <div class="goml-editor-wrap">
        <div class="goml-caption">goml</div>
        <div id="goml-editor" class="editors goml-editor"></div>
      </div>
      <div class="javascript-editor-wrap">
        <div class="javascript-caption">javascript</div>
        <div id="javascript-editor" class="editors javascript-editor"></div>
      </div>
    </div>
  </div>
</div>
