<% var title = "jThree Editor"; %>
<div class="editor-theme">
  <div class="editor-container clearfix">
    <div class="left-side">
      <div class="left-top-wrapper clearfix">
        <div class="jthree-logo">
          <div class="main-logo"><a href="http://jthree.io/"><img src="/images/jthree-logo.svg" height="160"></a></div>
          <div class="name-logo"><a href="http://jthree.io/"><img src="/images/jthree-name.svg" height="160"></a></div>
        </div>
        <div class="function-buttons">
          <div id="execute">
            <img src="/images/camera.svg" class="function-icon" width="30" height="30">
            <span>run</span>
          </div>
          <div id="reformat">
            <img src="/images/receipt.svg" class="function-icon" width="30" height="30">
            <span>format code</span>
          </div>
          <div id="generate">
            <img src="/images/link.svg" class="function-icon" width="30" height="30">
            <span>generate short url</span>
          </div>
        </div>
      </div>
      <div class="result">
        <div id="target"></div>
      </div>
    </div>
    <div class="right-side">
      <div class="goml-editor-wrap">
        <div class="goml-caption">goml</div>
        <div id="goml-editor" class="editors goml-editor"></div>
      </div>
      <div class="javascript-editor-wrap">
        <div class="javascript-caption">javascript</div>
        <div id="javascript-editor" class="editors javascript-editor"></div>
      </div>
    </div>
  </div>
</div>
