// Color variables (appears count calculates by raw css)
@color0: #bbb; // Appears 3 times

.editor-theme {

  position: relative;

  .editor-sidebar {
    position: relative;
    z-index: 1000;
    float: left;
    width: 80px;
    height: 100vh;
    background: #344F6F;
    // border-right: 1px solid #ddd;
    box-shadow: -8px 0px 29px 10px #ddd;
    -moz-box-shadow: -8px 0px 29px 10px #ddd;
    -webkit-box-shadow: -8px 0px 29px 10px #ddd;

    .jthree-icon {
      .image-centering;
      padding-top: 20px;
    }

    .functional-buttons {
      .image-centering;
      margin-top: 100px;
      .functional-button {
        margin-bottom: 30px;
        img {border: 1px solid rgba(255,255,255,0.6);}
      }
    }
  }

  .editor-container {
    float: left;
    width: 1000px;
    background: #fafafa;
    font-family: 'Titillium';
  }

  .editors {
    height: 50vh;
    width: 100%;
    position: relative;
  }

  .clearfix {
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .right-side {
    float: right;
    width: 50%;
  }

  .left-side {
    border-right: 1px solid @color0;
    box-sizing: border-box;
    float: left;
    height: 100vh;
    width: 50%;
  }

  .goml-editor {
    border-bottom: 1px solid @color0;
    box-sizing: border-box;
  }

  [class*="-editor-wrap"] {
    position: relative;
  }

  [class*="-caption"] {
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: 20px;
    background: rgba(0,0,0,0.1);
    padding: 1px 17px 3px;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0.3);
    // color: white;
    font-size: 14px;
  }

  .right-bottom-wrapper {
    box-sizing: border-box;
    height: 50vh;
    background: url('/images/gplaypattern.png');
  }

  .jthree-logo {
    float: left;
  }

  .name-logo {
    margin: -60px 0;
  }

  // .function-buttons {
  //   float: left;
  //   margin-left: 40px;
  //   padding-top: 30px;
  //   span {
  //     line-height: 30px;
  //     vertical-align: center;
  //     padding: 4px 24px 4px 8px;
  //     font-size: 20px;
  //   }
  //   #execute {
  //     &:hover {
  //       background: rgba(255,170,104, 0.3);
  //     }
  //     span {
  //       border-bottom: 2px solid #FFAA68;
  //     }
  //   }
  //   #reformat {
  //     &:hover {
  //       background: rgba(173,211,151, 0.3);
  //     }
  //     span {
  //       border-bottom: 2px solid #ADD397;
  //     }
  //   }
  //   #generate {
  //     &:hover {
  //       background: rgba(80,166,208, 0.3);
  //     }
  //     span {
  //       border-bottom: 2px solid #50A6D0;
  //     }
  //   }

  //   > div {
  //     padding: 10px 20px;
  //     cursor: pointer;;
  //   }
  // }

  .function-icon {
    opacity: 0.9;
    vertical-align: middle;
    margin-right: 8px;
  }

  .result {
    border-bottom: 1px solid @color0;
  }

  #jthree-iframe {
    border: none;
    height: 50vh;
    width: 100%;
    vertical-align: bottom;
  }
}

.image-centering {
  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
